body {font-family: Arial, Helvetica, sans-serif;}

a {
    color: white;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 20px 15px auto;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: auto;
    background-color: #f44336;
}

.loginbtn {
    float: right;
    margin: auto;
    width: auto;
    padding: 10px 18px;
    background-color: #0073b1;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border: 1px solid #888;
    border-radius: 50%;
}

.container {
    margin: auto;
    padding: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border-radius: 5px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}

.header {
    background-color: #283e4a;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 70px;
    margin: 0 auto;
}

.logo {
    height: 30px;
    width: auto;
    transition: opacity 0.3s;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 1128px;
    min-height: 100vh;
    margin: 0;
    background: #355668;
}

.reg-form {
    width: 400px;
    padding: 0 0 24px;
    margin: 0 auto;
    border-radius: 2px;
    background: #EDF0F3;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.form-body {
    display: flex;
    flex-flow: row wrap;
    padding: 0 24px;
    flex: 1;
    min-width: 0;
    justify-content: center;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 200;
    margin: auto;
    color: rgba(0,0,0,0.9);
    flex: 100%;
    background: #F6F8FA;
    text-align: center;
    padding: 16px 32px 8px 32px;
}

.registration {
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    font-family: /* Roman */ -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255,255,255,0.85);
}

label {
    margin: 10px 0 5px;
}

label:first-of-type {
    margin-top: 16px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283e4a;
    padding: 25px 0 0;
}

.logo-copyright {
    margin: -3px 5px 0 0;
    width: auto;
    height: 14px;
    opacity: 0.85;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px;
    color: rgba(255,255,255,0.85);
}

.submit-button:hover {
    opacity: 0.8;
}

.reg-password {
    border: 1px solid;
    border-color: #ccc;
}

.back-to-top {
    position: relative;
    bottom: 5px;
}

.footer__link {
    opacity: 0.7;
}

.footer__link:hover {
    opacity: 1;
}