body {font-family: Arial, Helvetica, sans-serif;}

a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: #283e4a;
    padding: 0 12px;
}

.logo {
    height: 30px;
    width: auto;
    transition: opacity 0.3s;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 70px;
    margin: 0 auto;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 1128px;
    min-height: 100vh;
    margin: 0;
    background: #355668;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283e4a;
    padding: 25px 0 0;
}

.logo-copyright {
    margin: -3px 5px 0 0;
    width: auto;
    height: 14px;
    opacity: 0.85;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px;
    color: rgba(255,255,255,0.85);
}

.nav-main {
    align-items: flex-end;
    flex-shrink: 0;
    list-style: outside none none;
    background: 0 0;
    width: auto;
    overflow: visible;
    margin: 0 0 0 auto;
}

.nav-item {
    height: 44px;
    text-align: center;
    align-items: flex-end;
    flex-shrink: 0;
    background: 0 0;
    width: auto;
    overflow: visible;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
}

.display-flex {
    display: flex;
}

.full-height {
    height: 100%;
}

.nav-item__link {
    text-align: center;
    text-decoration:none;
    height: 100%;
    opacity: 0.7;
    line-height: 12px;
    position: relative;
    display: block;
    color: #fff;
}

.nav-item__link:hover {
    opacity: 1;
}

.nav-item__title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin: auto 20px;
    display: block;
    color: #c7d1d8;
    transition: color .3s;
}

.nav-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    margin-left: 0;
    clip-path: none;
    transform: scale(1);
}

.icon {
    height: 25px;
    width: auto;
    transition: opacity 0.3s;
}

.current {
    opacity: 1;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f1f1f1;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab button {
    background-color: inherit;
    float: left;
    border: inherit;
    color: black;
    outline: none;
    cursor: pointer;
    padding: 10px auto;
    margin: 0 auto;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

button {
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 20px 15px auto;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
}

.main-pane {
    width: 700px;
    min-height: inherit;
    padding: 5px 0 24px;
    margin: 0 auto;
    border-radius: 2px;
    background: #EDF0F3;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    padding-left: 20px;
}

.submit-search {
    background-color: #0073b1;
    border: 0;
    width: auto;
    height: 38px;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: auto;
    z-index: 0;
    color: rgba(255,255,255,0.85);
}

.submit-search:hover {
    opacity: 0.8;
}

.search-form {
    display: flex;
    flex-flow: row;
}



.job-pane {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
}

.job-item {
    background: #EDF0F3;
    border: 2px solid #888;
    border-radius: 5px;
    margin: 50px auto;
    padding: 10px 5px;
    min-width: 550px;
    min-height: 200px;
    justify-content: center;
}

.left-pane {
    background: #EDF0F3;
    position: fixed;
    min-height: 300px;
    width: 290px;
    margin: inherit;
    margin-left: 10px;
    padding: 10px 5px;
    border: 2px solid #888;
    border-radius: 5px;
    text-align: center;
}

.right-pane {
    background: #EDF0F3;
    position: fixed;
    top: 80px;
    right: 10px;
    min-height: 300px;
    width: 290px;
    margin: inherit;
    margin-right: 10px;
    padding: 10px 5px;
    border: 2px solid #888;
    border-radius: 5px;
    text-align: center;
}

.central-wrapper {
    display: flex;
    flex-flow: row wrap;
    min-width: inherit;
    min-height: inherit;
    overflow: scroll;
}

.main-item {
    padding: 0 20px 0;
}

.back-to-top {
    position: relative;
    bottom: 5px;
}

.footer__link {
    opacity: 0.7;
}

.footer__link:hover {
    opacity: 1;
}

.reference-wrapper {
    color: #fff;
    background-color: #355668;
    min-height: inherit;
    margin: 15px 20px 15px 0px;
    padding: 5px 12px;
    border: 2px solid #888;
    border-radius: 5px;
}

.post-content {
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
    padding: 5px 5px;
}

.post-title {
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
    padding: 5px 5px;
    border-top: 2px solid #888;
}

.profile-post {
    float: right;
    max-height: 170px;
    max-width: auto;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    overflow: scroll;
    border: 2px solid #888;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.page-title {
    text-align: center;
}

.post-bottom {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.submit-post {
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.submit-post:hover {
    opacity: 0.7;
}

.time-left {
    font-size: small;
    position: relative;
    bottom: 2px;
    left: 2px;
    float: left;
    color: #aaa;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border-radius: 5px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    margin: auto;
    padding: 10px;
}

label {
    margin: 10px 0 5px;
}

input[type=text] {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 0px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: auto;
    background-color: #f44336;
}

.loginbtn {
    float: right;
    margin: auto;
    width: auto;
    padding: 10px 18px;
    background-color: #0073b1;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
